:root {
	--color-background: #d8f2ee;
	--color-primary: rgb(18, 158, 133);
	--color-secondary: #6fdbc8;
	--color-third: #a7f0e4;
	--color-header: rgba(11, 92, 77, 0.9);
	--color-footer: rgba(0, 0, 0, 0.65);
	--white: hsla(0, 0%, 100%, 1);
	--black: hsla(0, 0%, 0%, 1);

	--fontFamily-nav_menu: 'Poppins';
	--fontFamily-main: 'Josefin Sans', sans-serif;
	--fontFamily-title_oferta: 'BernhardFashion BT', sans-serif;

	--fontSize-menu: clamp(1.2rem, 1vw, 2.2rem);
	--fontSize-navbar: clamp(0.8rem, 1vw, 1.8rem);
	--fontSize-hero_title: clamp(2rem, 1.6vw, 8rem);
	--fontSize-hero_text: clamp(1.4rem, 1.2vw, 2.4rem);
	--fontSize-title_h2: clamp(4rem, 5vw, 8rem);
	--fontSize-title_h3: clamp(1rem, 5vw - 2rem, 3rem);
	--fontSize-text_oferta: clamp(1rem, 1.6vw, 1.8rem);

	--weight-light: 300;
	--weight-regular: 500;
	--weight-bold: 700;

	--lineHeight-1: 1em;
	--lineHeight-2: 1.3em;
	--lineHeight-3: 1.5em;

	--shadow: 2px 3px 6px 0px hsla(0, 0%, 0%, 0.2);

	--radius-20: 2rem;
	--radius-circle: 50%;

	--transition-1: 250ms ease;
	--transition-2: 500ms ease;
	--transition-3: 1000ms ease;

	--section-width: 68%; /* width: 130rem; */
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in-left {
	0% {
		opacity: 0;
		transform: translateX(10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-in-right {
	0% {
		opacity: 0;
		transform: translateX(-10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale-up {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

.custom-shape-divider-bottom {
	position: absolute;
	top: -2rem;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-bottom svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 20px;
}

.custom-shape-divider-bottom .shape-fill {
	fill: var(--color-background);
}

/* RESET */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
img,
data,
span,
button {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: var(--black);
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background-color: var(--color-third);
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--color-primary);
}

/* BACKGROUND  */

.hidden {
	display: none;
}

.main_window {
	width: 100%;
	height: 100dvh;
	position: relative;
}

.img-box {
	z-index: -10;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.hero_slide {
	width: 100%;
	position: absolute;
	top: -3rem;
	transition: opacity 1.5s;
}

.slide-1 {
	filter: opacity(0.5);
}

.hero_slide img {
	width: 100%;
}

/* TOP BAR */

.topbar {
	/* width: 137rem; */
	width: 74%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border-bottom-left-radius: 3rem;
	border-bottom-right-radius: 3rem;
	background-color: var(--color-secondary);
	height: 5rem;
	font-family: var(--fontFamily-nav_menu);
	font-size: var(--fontSize-navbar);
	color: var(--white);
	box-shadow: var(--shadow);
}

.topbar .container {
	width: 93%;
	display: flex;
	justify-content: space-between;
}

.topbar-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.topbar-item span {
	margin: 0 1rem;
	text-align: center;
}

.topbar-item .icon img {
	width: 100%;
}

/* HEADER AND MENU */

.header {
	position: fixed;
	padding-block: 5rem;
	top: 0;
	left: 0;
	width: 100%;
	transition: var(--transition-1);
	z-index: 100;
}

.header.active {
	padding-block: 0;
	background: var(--color-header);
	box-shadow: var(--shadow);
}

.header .container {
	margin: 0 auto;
	width: var(--section-width);
	height: 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo a {
	display: flex;
	align-items: center;
}

.header .logo a img {
	width: 90%;
}

.navbar {
	/* width: 90rem; */
	width: 70%;
	font-family: var(--fontFamily-nav_menu);
	font-size: var(--fontSize-menu);
	font-weight: var(--weight-light);
	color: var(--white);
}

.navbar-list {
	display: flex;
	justify-content: end;
	gap: 10%;
}

.navbar-item a {
	padding: 0.5rem 1.5rem;
	border: 1px solid transparent;
	border-radius: 2rem;
	transition: var(--transition-1);
}

.navbar-item a:hover {
	background: rgba(255, 255, 255, 0.1);
	border-radius: var(--radius-20);
	animation: pulse 1s ease infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 var(--white);
	}
	100% {
		box-shadow: 0 0 0 20px transparent;
	}
}

/* SECTION O NAS */

.hero {
	margin: 5rem auto;
	width: var(--section-width);
	height: 100vh;
	font-family: var(--fontFamily-main);
	line-height: 4.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

.hero h1 {
	font-size: var(--fontSize-hero_title);
	color: var(--white);
}

.hero .desc {
	/* width: 45%; */
	width: clamp(45ch, 50%, 75ch);
	font-family: var(--fontFamily-main);
	font-size: var(--fontSize-hero_text);
	font-weight: var(--weight-light);
}
.hero .desc p {
	margin: 2rem 0;
	text-indent: 4rem;
	line-height: var(--lineHeight-3);
	color: var(--white);
}

/* SECTION OFERTA */
.oferta {
	width: 100%;
	padding-top: 10rem;
	padding-bottom: 10rem;
	background-color: var(--color-background);
	position: relative;
}
.triangle_box {
	width: 100%;
	top: 15rem;
	left: 0;
	position: absolute;
	display: flex;
}

.triangle_box .triangle-1 {
	width: 7%;
}

.triangle_box .triangle-2 {
	position: relative;
	width: 5%;
	top: 0;
	left: -4rem;
	animation: moveTriangle 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.triangle_box .triangle-3 {
	position: relative;
	width: 3%;
	top: 0;
	left: -7rem;
	animation: moveTriangle-2 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.triangle_right {
	width: 100%;
	position: relative;
	background-color: yellow;
}

.triangle_right .triangle-4 {
	position: absolute;
	right: 0;
	width: 7%;
}

@keyframes moveTriangle {
	0% {
		transform: translateX(0rem);
	}
	50% {
		transform: translateX(2rem);
	}
	100% {
		transform: translateX(0rem);
	}
}

@keyframes moveTriangle-2 {
	0% {
		transform: translateX(0rem);
	}
	50% {
		transform: translateX(3.54rem);
	}
	100% {
		transform: translateX(0rem);
	}
}

.triangle_right {
	position: absolute;
	top: 15rem;
	right: 0;
}

.section_title {
	margin: 0rem auto;
	width: var(--section-width);
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section_title h2 {
	text-align: center;
	font-family: var(--fontFamily-title_oferta);
	font-size: var(--fontSize-title_h2);
	font-weight: var(--weight-light);
	color: var(--color-primary);
	text-shadow: 4px 4px 0px rgb(255, 255, 255), 6px 10px 5px rgb(165, 163, 163, 0.3);
}

.cards_box {
	margin: 0rem auto;
	width: var(--section-width);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5.5%;
	margin-bottom: 30rem;
}

.card {
	width: 100%;
	position: relative;
	transition: all 0.4s;
	cursor: pointer;
}

.card:hover {
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
	transform: translateY(-2px);
}

.card:nth-child(2n-1) {
	animation: fade-in-right linear;
	animation-timeline: view(block);
	animation-range: entry;
}

.card:nth-child(2n) {
	animation: fade-in-left linear;
	animation-timeline: view(block);
	animation-range: entry;
}

.card:nth-child(2n-1)::before {
	content: '';
	width: 0.2rem;
	height: 15.2rem;
	background-color: var(--color-primary);
	position: absolute;
	left: -2rem;
	bottom: -5rem;
}

.card:hover:nth-child(2n-1)::before {
	bottom: -2rem;
}

.card:nth-child(2n-1)::after {
	content: '';
	width: 22rem;
	height: 0.2rem;
	background-color: var(--color-primary);
	position: absolute;
	left: -5rem;
	bottom: -2rem;
	transition: all 0.4s;
}

.card:hover:nth-child(2n-1)::after {
	left: -2rem;
}

.card:nth-child(n-1)::before {
	content: '';
	width: 0.2rem;
	height: 15.2rem;
	background-color: var(--color-primary);
	position: absolute;
	right: -2rem;
	bottom: -5rem;
	transition: all 0.4s;
}

.card:hover:nth-child(n-1)::before {
	bottom: -2rem;
}

.card:nth-child(n-1)::after {
	content: '';
	width: 22rem;
	height: 0.2rem;
	background-color: var(--color-primary);
	position: absolute;
	right: -5rem;
	bottom: -2rem;
	transition: all 0.4s;
}

.card:hover:nth-child(n-1)::after {
	right: -2rem;
}

.card .image {
	width: 100%;
	overflow: hidden;
}
/*  */
.image-1 {
	background-image: url('./assets/images/oferta-komunikacja-small.jpg');
}

.image-2 {
	background-image: url('./assets/images/oferta-firmowe-small.jpg');
}
.image-3 {
	background-image: url('./assets/images/oferta-turystyczne-small.jpg');
}

.image-4 {
	background-image: url('./assets/images/oferta-majatkowe-small.jpg');
}

.image-5 {
	background-image: url('./assets/images/oferta-wypadkowe-small.jpg');
}

.image-6 {
	background-image: url('./assets/images/oferta-rolne-small.jpg');
}

.image-7 {
	background-image: url('./assets/images/oferta-na_zycie-small.jpg');
}

.image-8 {
	background-image: url('./assets/images/oferta-sportowe-small.jpg');
}

.image::before {
	content: '';
	position: absolute;
	inset: 0;
	opacity: 0;
	animation: pulsation 2.5s infinite;
	background-color: white;
}

@keyframes pulsation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 0;
	}
}

.image.loaded::before {
	animation: none;
	content: none;
}

.image img {
	opacity: 0;
	transition: opacity 250ms ease-in-out;
}

.image.loaded img {
	opacity: 1;
}

.card img {
	width: 100%;
	transition: 0.4s ease;
}

.card:hover img {
	scale: 1.05;
}

.card .card_title {
	width: 100%;
	bottom: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15%;
	background-color: rgba(0, 0, 0, 0.6);
}

.card .card_title h3 {
	text-align: center;
	font-family: var(--fontFamily-main);
	font-size: var(--fontSize-title_h3);
	font-weight: var(--weight-light);
	color: var(--white);
}

.back {
	opacity: 0;
	width: 0%;
	height: 0%;
	position: absolute;
	top: 0;
	background-color: var(--color-background);
	padding: 0.5em 2.5em;
	font-family: var(--fontFamily-main);
	font-size: var(--fontSize-text_oferta);
	font-weight: var(--weight-light);
	transition: var(--transition-1);
	overflow-y: auto;
}

.back.active {
	opacity: 0.95;
	width: 100%;
	height: 100%;
}

.card .back ul li {
	list-style: none;
	line-height: var(--lineHeight-2);
}

.card .back ul li::before {
	content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: var(--color-primary);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.card .back > p {
	padding-top: 1em;
	line-height: var(--lineHeight-2);
}

/* logos section */

.logos {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('./assets/images/hands.jpg');
}

.logos .overlay {
	width: 100%;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 4px 23px -9px rgba(66, 68, 90, 1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.logos_box {
	width: var(--section-width);
	padding: 5em;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.logos_box img {
	min-width: 10%;
}

/* OPINIE SECTION */

.opinie {
	padding-top: 10rem;
	width: 100%;
	height: 100dvh;
	padding-bottom: 10rem;
	background: radial-gradient(circle, rgba(151, 249, 232, 1) 0%, rgba(222, 248, 243, 1) 50%, rgb(96, 241, 212) 100%);
	position: relative;
}

.carousel {
	display: flex;
	overflow-x: auto;
	width: var(--section-width);
	margin: 0 auto;
	gap: 4.5em;
	padding-block-end: 5em;
	scroll-snap-type: inline mandatory;

	animation: fade-in-left linear;
	animation-timeline: view(block);
	animation-range: entry;
}

.list-item {
	display: flex;
	min-width: 48%;
	scroll-snap-align: start;
	box-shadow: var(--shadow);
}

.carousel::-webkit-scrollbar {
	height: 15px;
}

.carousel::-webkit-scrollbar-track {
	outline: 2px solid var(--color-primary);
	border-radius: 2rem;
}

.carousel::-webkit-scrollbar-thumb {
	border: 3px solid var(--color-third);
	background-color: var(--color-primary);
}

.carousel::-webkit-scrollbar-button {
	width: calc(25% - 4rem);
}

.item-content {
	position: relative;
	background-color: var(--white);
	padding: 2em 4em;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	gap: 2rem;
}

.item-content .stars {
	font-size: 5rem;
	text-align: center;
	color: var(--color-secondary);
}

.item-content .text,
.autor,
.link {
	font-size: var(--fontSize-text_oferta);
	font-family: var(--fontFamily-main);
	font-weight: var(--weight-light);
	line-height: var(--lineHeight-3);
	text-indent: 1.5em;
}

.item-content .autor {
	padding: none;
	text-align: right;
}

.item-content .link {
	font-weight: var(--weight-regular);
	text-align: center;
	color: var(--color-primary);
}

/* SECTION NASZE BIURA */
.nasze_biura {
	position: relative;
	padding-top: 10rem;
	width: 100%;
	height: 100dvh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('./assets/images/family-g62b83789f_1920.jpg');
}

.nasze_biura .box {
	width: var(--section-width);
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.nasze_biura .overlay_box {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}

.section_title .title {
	z-index: 20;
}

/* tab */

.nasze_biura .container {
	width: 100%;
	margin: 0 auto;
}

.tab-container {
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
	animation: fade-in-right linear;
	animation-timeline: view(block);
	animation-range: entry;
}

.tab-btn-list {
	display: flex;
	justify-content: center;
}

.tab-btn-item {
	width: 100%;
	justify-content: center;
	display: flex;
}

.tab-btn {
	width: 100%;
	background-color: var(--white);
	border: 1px ridge var(--color-secondary);
	padding-block: 0.7em;
	border-bottom-left-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
	box-shadow: var(--shadow);
	transition: var(--transition-2);
	font-family: var(--fontFamily-main);
	font-size: var(--fontSize-menu);
	color: var(--color-primary);
}

.tab-btn:is(:hover, :focus-visible) {
	background: var(--color-background);
	color: var(--black);
}

.tab-btn.active {
	background: var(--color-secondary);
	color: var(--black);
}

.tab-content {
	display: none;
	padding: 3em 5em;
}

.tab-content.active {
	display: block;
	animation: fade 0.5s linear forwards;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.tab-content .grid-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.biuro-data {
	flex-basis: 25%;
	display: grid;
	gap: 2em;
	grid-template-columns: 3rem 1fr;
	align-items: start;
	justify-content: center;
}

.icon-address,
.icon-hour,
.icon-tel {
	display: flex;
	justify-content: center;
}
.biuro-adres,
.biuro-hour,
.biuro-tel p {
	font-family: var(--fontFamily-main);
	font-size: var(--fontSize-text_oferta);
	font-weight: var(--weight-light);
	border-bottom: 1px solid var(--color-primary);
	padding-bottom: 1.2em;
}

.biuro-adres p:first-child,
.biuro-hour p:nth-child(2n-1),
.biuro-tel p {
	font-weight: var(--weight-regular);
}

.biuro-hour p:nth-child(2n-1) {
	margin-top: 0.6em;
}

.biuro-tel p {
	border-bottom: none;
}

.biuro-map {
	flex-basis: 70%;
	border: 1px solid var(--color-secondary);
}

.biuro-map iframe {
	width: 100%;
	height: 40dvh;
}

footer {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 10rem;
	background: var(--color-footer);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3.5px);
}

.footer_nav {
	height: 7rem;
	margin: 0 auto;
	width: var(--section-width);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer_links {
	width: 60%;
	display: flex;
	justify-content: start;
	gap: clamp(1em, 1vw, 5em);
	font-family: var(--fontFamily-nav_menu);
	font-size: var(--fontSize-text_oferta);
	font-weight: var(--weight-light);
	color: var(--white);
}
.footer_links a {
	padding: 0.5em 1.5em;
	border-radius: 2em;
	transition: var(--transition-1);
}
.footer_links a:hover {
	animation: pulse 1s ease infinite;
	background: rgba(255, 255, 255, 0.1);
	border-radius: var(--radius-20);
}

.footer_phone,
.footer_email {
	width: 18%;
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
}

.footer_phone p,
.footer_email a {
	font-family: var(--fontFamily-nav_menu);
	font-size: var(--fontSize-text_oferta);
	font-weight: var(--weight-light);
	color: var(--white);
}

.footer_phone .icon {
	min-width: 10%;
}

.footer_email .icon {
	min-width: 15%;
}

.footer_phone .icon img {
	width: 100%;
}

.footer_email .icon img {
	width: 100%;
}

.footer_copyright {
	/* width: 52.5rem; */
	width: 28%;
	margin: 0 auto;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	background-color: var(--color-secondary);
	font-family: var(--fontFamily-nav_menu);
	font-size: clamp(0.8em, 0.7vw, 1.4em);
	font-weight: var(--weight-light);
	color: var(--white);
	box-shadow: var(--shadow);
}
/* GO TO TOP */

.go-top {
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
	width: 4.5rem;
	height: 4.5rem;
	display: grid;
	place-items: center;
	font-size: 2.5rem;
	color: var(--color-primary);
	border: 2px solid var(--color-primary);
	border-radius: var(--radius-circle);
	opacity: 0;
	pointer-events: none;
	transform: translateY(1rem);
	transition: var(--transition-1);
	z-index: 2;
	background-color: var(--white);
}

.go-top.active {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0);
}
