:root {
	--color-background: #d8f2ee;
	--color-primary: rgb(18, 158, 133);
	--color-secondary: #6fdbc8;
	--color-third: #a7f0e4;
	--color-header: rgba(11, 92, 77, 0.9);
	--color-footer: rgba(0, 0, 0, 0.65);
	--white: hsla(0, 0%, 100%, 1);
	--black: hsla(0, 0%, 0%, 1);

	--fontFamily-nav_menu: 'Poppins';
	--fontFamily-main: 'Josefin Sans', sans-serif;
	--fontFamily-title_oferta: 'BernhardFashion BT', sans-serif;

	--fontSize-menu: 2.2rem;
	--fontSize-navbar: clamp(1.5rem, 1.6vw, 1.8rem);
	--fontSize-hero_title: clamp(3rem, 1.6vw, 8rem);
	--fontSize-hero_text: clamp(1.6rem, 1.6vw, 2.4rem);
	--fontSize-title_h2: clamp(4rem, 5vw, 8rem);
	--fontSize-title_h3: clamp(1.6rem, 1.6vw, 3rem);
	--fontSize-text_oferta: clamp(1rem, 1.6vw, 1.8rem);

	--weight-light: 300;
	--weight-regular: 500;
	--weight-bold: 700;

	--lineHeight-1: 1em;
	--lineHeight-2: 1.3em;
	--lineHeight-3: 1.5em;

	--shadow: 2px 3px 6px 0px hsla(0, 0%, 0%, 0.2);

	--radius-20: 2rem;
	--radius-circle: 50%;

	--transition-1: 250ms ease;
	--transition-2: 500ms ease;
	--transition-3: 1000ms ease;
}

/* RESET */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
img,
data,
span,
button {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: var(--black);
}

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background-color: var(--color-third);
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--color-primary);
}

/* BACKGROUND  */

.hidden {
	display: none;
}

.main_window {
	width: 100%;
	height: 100vh;
	position: relative;
}

.img-box {
	z-index: -10;
	opacity: 0.7;
	position: absolute;
	width: 100%;
	height: 100%;

	/* 1 obazek */
	/* background-image: linear-gradient(to right, rgba(15, 15, 15, 0.4), rgba(0, 0, 0, 0.6)); */
	/* background-image: url('./assets/images/hero-1.jpg'); */

	/* 2 obazek */
	background-image: url('./assets/images/hero-2.jpg');

	/* 3 obazek */
	/* background-image: url('./assets/images/hero-3.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
}

/* TOP BAR */

.topbar {
	width: 137rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	background-color: var(--color-secondary);
	height: 5rem;
	font-family: var(--fontFamily-nav_menu);
	font-size: var(--fontSize-navbar);
	color: var(--white);
	box-shadow: var(--shadow);
}

.topbar .container {
	width: 1300px;
	display: flex;
	justify-content: space-between;
}

.topbar-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.topbar-item span {
	margin: 0 1rem;
	text-align: center;
}

.topbar-item .icon img {
	width: 100%;
}

/* HEADER AND MENU */

.header {
	position: fixed;
	padding-block: 5rem;
	top: 0;
	left: 0;
	width: 100%;
	transition: var(--transition-1);
	z-index: 100;
}

.header.active {
	padding-block: 0;
	background: var(--color-header);
	box-shadow: var(--shadow);
}

.header .container {
	margin: 0 auto;
	width: 1300px;
	height: 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo a {
	display: flex;
	align-items: center;
}

.header .logo a .u img {
	width: 100%;
}

.header .logo a .bezpieczenia img {
	margin-left: 0.5rem;
	height: 100%;
}

.navbar {
	width: 90rem;
	font-family: var(--fontFamily-nav_menu);
	font-size: var(--fontSize-menu);
	font-weight: var(--weight-light);
	color: var(--white);
}

.navbar-list {
	display: flex;
	justify-content: end;
	gap: 10rem;
}

.navbar-item a {
	padding: 0.5rem 1.5rem;
	border: 1px solid transparent;
	border-radius: 2rem;
	transition: var(--transition-1);
}

.navbar-item a:hover {
	/* border: 1px solid var(--white); */
	background: rgba(255, 255, 255, 0.1);
	border-radius: var(--radius-20);
	animation: pulse 1s ease infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 var(--white);
	}
	100% {
		box-shadow: 0 0 0 20px transparent;
	}
}

/* SECTION O NAS */

.hero {
	margin: 5rem auto;
	width: 130rem;
	height: 100vh;
	font-family: var(--fontFamily-main);
	line-height: 4.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

.hero h1 {
	font-size: var(--fontSize-hero_title);
	color: var(--white);
}

.hero .desc {
	width: 45%;
	font-family: var(--fontFamily-main);
	font-size: var(--fontSize-hero_text);
	font-weight: var(--weight-light);
}
.hero .desc p {
	margin: 2rem 0;
	text-indent: 4rem;
	line-height: var(--lineHeight-3);
	color: var(--white);
}

/* SECTION OFERTA */

.oferta {
	padding-top: 10rem;
	width: 100%;
	padding-bottom: 10rem;
	background-color: var(--color-background);
	position: relative;
}
.triangle_box {
	top: 15rem;
	left: 0;
	position: absolute;
	display: flex;
}
.triangle_box .triangle-2 {
	position: relative;
	top: 0;
	left: -4rem;
	animation: moveTriangle 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.triangle_box .triangle-3 {
	position: relative;
	top: 0;
	left: -7rem;
	animation: moveTriangle-2 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes moveTriangle {
	0% {
		transform: translateX(0rem);
	}
	50% {
		transform: translateX(2rem);
	}
	100% {
		transform: translateX(0rem);
	}
}

@keyframes moveTriangle-2 {
	0% {
		transform: translateX(0rem);
	}
	50% {
		transform: translateX(3.54rem);
	}
	100% {
		transform: translateX(0rem);
	}
}

.triangle_right {
	position: absolute;
	top: 15rem;
	right: 0;
}

.section_title {
	margin: 0rem auto;
	width: 130rem;
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section_title h2 {
	text-align: center;
	font-family: var(--fontFamily-title_oferta);
	font-size: var(--fontSize-title_h2);
	font-weight: var(--weight-light);
	color: var(--color-primary);
	text-shadow: 4px 4px 0px rgb(255, 255, 255), 6px 10px 5px rgb(165, 163, 163, 0.3);
}

.cards_box {
	margin: 0rem auto;
	width: 130rem;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 8rem;
}

.card {
	width: 100%;
	position: relative;
	transition: all 0.4s;
	cursor: pointer;
}

.card:hover {
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
	transform: translateY(-2px);
}

.card:nth-child(2n-1)::before {
	content: '';
	width: 0.2rem;
	height: 15.2rem;
	background-color: var(--color-primary);
	position: absolute;
	left: -2rem;
	bottom: -5rem;
}

.card:hover:nth-child(2-1)::before {
	bottom: -2rem;
}

.card:nth-child(2n-1)::after {
	content: '';
	width: 22rem;
	height: 0.2rem;
	background-color: var(--color-primary);
	position: absolute;
	left: -5rem;
	bottom: -2rem;
	transition: all 0.4s;
}

.card:hover:nth-child(2n-1)::after {
	left: -2rem;
}

.card:nth-child(n-1)::before {
	content: '';
	width: 0.2rem;
	height: 15.2rem;
	background-color: var(--color-primary);
	position: absolute;
	right: -2rem;
	bottom: -5rem;
	transition: all 0.4s;
}

.card:hover:nth-child(n-1)::before {
	bottom: -2rem;
}

.card:nth-child(n-1)::after {
	content: '';
	width: 22rem;
	height: 0.2rem;
	background-color: var(--color-primary);
	position: absolute;
	right: -5rem;
	bottom: -2rem;
	transition: all 0.4s;
}

.card:hover:nth-child(n-1)::after {
	right: -2rem;
}

.card .image {
	width: 100%;
	overflow: hidden;
}
.card img {
	width: 100%;
	/* width: 66vh; */
	transition: 0.4s ease;
}

.card:hover img {
	scale: 1.05;
}

.card .card_title {
	width: 100%;
	/* width: 66vh; */
	bottom: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	background-color: rgba(0, 0, 0, 0.6);
}

.card .card_title h3 {
	text-align: center;
	font-family: var(--fontFamily-main);
	font-size: var(--fontSize-title_h3);
	font-weight: var(--weight-light);
	color: var(--white);
}

.back {
	opacity: 0;
	width: 0%;
	height: 0%;
	position: absolute;
	top: 0;
	background-color: var(--color-background);
	padding: 1rem 5rem;
	font-family: var(--fontFamily-main);
	font-size: var(--fontSize-text_oferta);
	font-weight: var(--weight-light);
	transition: var(--transition-1);
}

.back.active {
	opacity: 0.95;
	width: 100%;
	height: 100%;
}

.card .back ul li {
	list-style: none;
	line-height: var(--lineHeight-2);
}

.card .back ul li::before {
	content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: var(--color-primary);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.card .back > p {
	padding-top: 2rem;
	line-height: var(--lineHeight-2);
}

/* logos section */

.logos {
	width: 100%;
	height: 60rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('./assets/images/hands.jpg');
}

.logos .overlay {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 4px 23px -9px rgba(66, 68, 90, 1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.logos_box {
	width: 130rem;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* OPINIE SECTION */

.opinie {
	padding-top: 10rem;
	width: 100%;
	min-height: 100vh;
	padding-bottom: 10rem;
	background: radial-gradient(circle, rgba(151, 249, 232, 1) 0%, rgba(222, 248, 243, 1) 50%, rgb(96, 241, 212) 100%);
	position: relative;
}

.carousel {
	display: flex;
	overflow-x: auto;
	width: 130rem;
	margin: 0 auto;
	gap: 5rem;
	padding-block-end: 40px;
	scroll-snap-type: inline mandatory;
}

.list-item {
	display: flex;
	min-width: 48%;
	scroll-snap-align: start;
	box-shadow: var(--shadow);
	min-height: 100%;
}

.carousel::-webkit-scrollbar {
	height: 15px;
}

.carousel::-webkit-scrollbar-track {
	outline: 2px solid var(--color-primary);
	border-radius: 2rem;
}

.carousel::-webkit-scrollbar-thumb {
	border: 3px solid var(--color-third);
	background-color: var(--color-primary);
}

.carousel::-webkit-scrollbar-button {
	width: calc(25% - 4rem);
}

.item-content {
	position: relative;
	background-color: var(--white);
	padding: 2rem 3rem;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	gap: 2rem;
}

.item-content .stars {
	font-size: 5rem;
	text-align: center;
	color: var(--color-secondary);
}

.item-content .text,
.autor,
.link {
	font-size: var(--fontSize-text_oferta);
	font-family: var(--fontFamily-main);
	font-weight: var(--weight-light);
	line-height: var(--lineHeight-3);
	text-indent: 3rem;
}

.item-content .autor {
	padding: none;
	text-align: right;
}

.item-content .link {
	font-weight: var(--weight-regular);
	text-align: center;
	color: var(--color-primary);
}

/* SECTION NASZE BIURA */
.nasze_biura {
	position: relative;
	padding-top: 10rem;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('./assets/images/family-g62b83789f_1920.jpg');
}

.nasze_biura .box {
	width: 130rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.nasze_biura .overlay_box {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}

.section_title .title {
	z-index: 20;
}

/* tab */

.nasze_biura .container {
	width: 100%;
	margin: 0 auto;
}

.tab-container {
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
}

.tab-btn-list {
	display: flex;
	justify-content: space-between;
}

.tab-btn {
	background-color: var(--white);
	min-width: 32.5rem;
	border: 1px ridge var(--color-secondary);
	padding-block: 1.5rem;
	border-bottom-left-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
	box-shadow: var(--shadow);
	transition: var(--transition-2);
	font-family: var(--fontFamily-main);
	font-size: var(--fontSize-menu);
	color: var(--color-primary);
}

.tab-btn:is(:hover, :focus-visible) {
	background: var(--color-background);
	color: var(--black);
}

.tab-btn.active {
	background: var(--color-secondary);
	color: var(--black);
}

.tab-content {
	display: none;
	padding: 3rem 5rem;
}

.tab-content.active {
	display: block;
	animation: fade 0.5s linear forwards;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.tab-content .grid-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.biuro-data {
	width: 25%;
	min-height: 0;
	display: grid;
	gap: 2rem;
	grid-template-columns: 3rem 1fr;
	grid-template-rows: minmax(0, max-content) minmax(0, max-content) minmax(0, max-content);
	align-items: start;
	justify-content: center;
}

.icon-address,
.icon-hour,
.icon-tel {
	display: flex;
	justify-content: center;
}
.biuro-adres,
.biuro-hour,
.biuro-tel p {
	font-family: var(--fontFamily-main);
	font-size: var(--fontSize-text_oferta);
	font-weight: var(--weight-light);
	border-bottom: 1px solid var(--color-primary);
	padding-bottom: 2rem;
}

.biuro-adres p:first-child,
.biuro-hour p:nth-child(2n-1),
.biuro-tel p {
	font-weight: var(--weight-regular);
}

.biuro-hour p:nth-child(2n-1) {
	margin-top: 1rem;
}

.biuro-tel p {
	border-bottom: none;
}

.biuro-map {
	width: 70%;
	border: 1px solid var(--color-secondary);
}

.biuro-map iframe {
	width: 100%;
	height: 40vh;
}

footer {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 10rem;
	background: var(--color-footer);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3.5px);
}

.footer_nav {
	height: 7rem;
	margin: 0 auto;
	max-width: 130rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer_links {
	width: 60%;
	display: flex;
	justify-content: start;
	gap: 5rem;
	font-family: var(--fontFamily-nav_menu);
	font-size: var(--fontSize-text_oferta);
	font-weight: var(--weight-light);
	color: var(--white);
}
.footer_links a {
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	transition: var(--transition-1);
}
.footer_links a:hover {
	animation: pulse 1s ease infinite;
	background: rgba(255, 255, 255, 0.1);
	border-radius: var(--radius-20);
}

.footer_phone,
.footer_email {
	width: 18%;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.footer_phone p,
.footer_email a {
	font-family: var(--fontFamily-nav_menu);
	font-size: var(--fontSize-text_oferta);
	font-weight: var(--weight-light);
	color: var(--white);
}

.footer_copyright {
	width: 52.5rem;
	margin: 0 auto;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	background-color: var(--color-secondary);
	font-family: var(--fontFamily-nav_menu);
	font-size: 1.4rem;
	font-weight: var(--weight-light);
	color: var(--white);
	box-shadow: var(--shadow);
}
/* GO TO TOP */

.go-top {
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
	width: 4.5rem;
	height: 4.5rem;
	display: grid;
	place-items: center;
	font-size: 2.5rem;
	color: var(--color-primary);
	border: 2px solid var(--color-primary);
	border-radius: var(--radius-circle);
	opacity: 0;
	pointer-events: none;
	transform: translateY(1rem);
	transition: var(--transition-1);
	z-index: 2;
	background-color: var(--white);
}

.go-top.active {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0);
}
